/* NavBar */
nav ul{
	display: inline-block;
}

nav a{
	padding: 0 20px;
	text-transform: uppercase;
	color: white;
}

.navbar-fixed{
  position: fixed;
  width: 100%;
}

/* Scroll btn */
.button-collapse {
  color: #26a69a;
}

/* Logo */
.brand-logo{
	padding-left: 50px;
	padding-top: 6px;
}

/* SignUp and LogIn Buttons */
#header-nav-buttons {
	position: fixed;
	right: 0px;
	top: 14px;
	padding-right: 50px;
}

.btn-connexion{
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	text-transform: none;
}

.btn-signup{
	color: black;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	text-transform: none;
}