#block3parts {
  height: 100vh;
  width: 80%;
  margin-top: 2em;
  padding-top: 2.5em;
}

#block2parts {
  height: 100vh;
  width: 80%;
  margin-top: 2em;
  padding-top: 2.5em;
}

#block {
  height: 100vh;
  width: 80%;
  margin-top: 1em;
  padding-top: 2.5em;
}

#blockFooter {
  height: 100vh !important;
  width: 100%;
}

a.twitter-timeline{
  text-align: center;

}

iframe.twitter-timeline{ 
  width: 90% !important;
  height: 50vh !important;
}