nav ul a,
nav .brand-logo {
  color: #444;
}

.button-collapse {
  color: #26a69a;
}

#navbar-fixed{
/*  position: absolute;
  width: 100%;*/
}

#header-nav-buttons {
	position: fixed;
	right: 0px;
	top: 14px;
	padding-right: 60px;
}

nav ul{
	display: inline-block;
}