.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: 100vh;
	color: #26a69a;
	background: rgba(47,48,54,0.30);
	border: 1px solid #979797;
}
  
.parallax-container .section {
  width: 100%;
}

.parallax{
  overflow: hidden;
}
	
.parallax img{
	display: block;
    transform: translate3d(-50%, 300px, 0px);
    filter:blur(2px);
}

#title{
	font-size: 80px;
}


#index-banner{
  padding-top: 100px;
}

#FAB{
  position: absolute;
  top: 88vh;
  z-index: 100;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

/*
.header{
  margin-top: 2em;
}

.fp-tableCell {
  display: block !important;
}

.slimScrollDiv{
  min-height: 100vh;
}
*/